@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin:0;
    padding:0;
    font-family: Roboto, sans-serif;
    background-color:#FFFFFF;
    text-align: center;
}

.container {
    display: flex;
    flex-direction:column;
}

/* Header */

.header, .footer {
    background-color:#1F2937;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px;
}

.footer {
    display:flex;
    justify-content:center;
    padding:20px;
}

.left, .right {
    display:flex;
    align-items:center;
    gap:16px;
}

ul {
    list-style:none;
    display:flex;
    gap:16px;
}
.header a {
    text-decoration:none;
    color:#F9FAF8;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
    display:flex;
    justify-content:flex-start;
    margin-top:0;
    padding:0;
}

/* Hero */

.first {
    display: flex;
    background-color: #1F2937;
    align-items:center;
    justify-content:center;
    padding:40px;
}

.first-text {
    margin:50px 30px 50px 30px;
    padding:40px;
}
.first-image {
    flex-grow:1;
    flex-shrink:1;
    margin:30px;
}
.first img {
    width:400px;
    height:300px;
}

.first p {
    font-size:18px;
    color:#e5e7eb;
}

#heromain {
    font-size: 48px;
    font-weight:900;
    color:#F9FAF8;
    margin-bottom:-15px;
}

.signup {
    display:flex;
    padding:10px 40px;
    border-radius:7px;
    background-color: #3882F6;
    border:none;
    color:#F9FAF8;
    font-size:18px;
    font-weight:500;
}
/* Content */

.second {
    display: flex;
    margin: auto;
    flex-direction:column;
    align-content: space-around;
    justify-content:space-evenly;
    align-items: center;
}

.card-container {
display: flex;
justify-content: space-around;
}

.second img {
    width: 200px;
    height: 200px;
    border:4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}
.second p {
    font-size:18px;
    opacity: 65%;
}

/* Quote */

.third {
    background-color:#e5e7eb;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#quote {
    font-size:36px;
    display:flex;
    font-weight:lighter;
    font-style:italic;
    color:#1F2937;
}

#quotesource {
    font-size:24px;
    color:#1F2937; 
    font-weight:700;
    margin:0;
    padding:0;
}
/* Call to Action */

.fourth {
    display:flex;
    justify-content:center;
}

.call {
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex:auto;
    padding:20px;
    margin:100px 40px 100px 40px;
    border-radius: 10px;
    background-color:#3882F6;
}

.call-left {
    flex-direction:column;
    justify-content:center;
}

#callheading {
    color:#F9FAF8;
    font-size:24px;
    font-weight: 550;
}

.quote-container {
    display:flex;
    justify-content:flex-end;
    flex-wrap:wrap;
    text-align:justify;
    margin:60px 150px 60px 150px;

}

.call p {
    color:#e5e7eb;
    font-weight:lighter;
    font-size:18px;
}

#copyright {
    color:#e5e7eb;
    font-size:18px;
}

#signup2 {
    border:2px solid white;
    padding:5px 30px;
    border-radius:7px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-size:18px;
    font-weight:500;
}